*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
.cabeçalho{
  background:black;
  display:flex;
  justify-content: space-between;
  padding:10px 25px;
}
.buttons{
  display: flex;
  gap:10px;
}
.logo-rock{
  width: 20px;
}
.rock-onebitcode{
  width: 250px;
}
.buttomheader{
  font-size: 15px;
  padding:10px 15px;
  border-radius: 10px;
  background-color: transparent;
  border-color:whitesmoke;
  color:white;
  cursor:pointer;
  transition: 0.4s;
}
.buttomheader:hover{
  border-color:#ff0044;
  
}