*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
.container{
background: darkgray;
min-height: 100vh;
display: flex;
gap:0 15px;
justify-content: center;
align-items: center;
flex-direction: column;
/*flex-wrap: wrap;*/
}
.item{
  /* width:200px;*/
  width: 100px;
   height:70px;
   border:solid 1px black;
   background:white;
   font-size:20px;
   display: flex;
   justify-content: center;
   align-items: center;
   /*flex-basis:200px ;
   flex-grow:1;*/
}
.item1{
  align-self: flex-start;
  order: 3;
}
.item2{
order: 2;
}
.item3{
  order: 1;
}
@media(max-width:390px){
  item1{
    flex:1 0 620px;
}
}