*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
.conteiner{
  background-color:darkgrey;
  min-height:100vh;
 display:flex;
 gap:0px 15px;
 align-items: center;
 flex-direction:column;
 /*flex-wrap:wrap;*/
}
.item{
  width:100px;
  height:70px;
  border:1px solid red;
  background-color:black;
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  /*flex-basis:200px;
  flex-grow:0;*/
}
.item1{
  order:1;
  /*flex-grow:1;
  flex-shrink:0;*/
}
.item2{
order:2;
align-self: flex-end;
/*flex:1 0 400px;*/
}
.item3{
 order:3;

}
@media(max-width:390px){
  .item2{
    order:2;
    flex:1 0 620px;
}
}
