*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.conteiner{
  background-color:#e7e7e7;
  min-height:100vh;
  display:flex;
  gap:4px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap:wrap;
}
.item{
  border:1px solid black;
  width: 200px;
  height: 200px;
  background-color:white;
  display: flex;
  align-items: center;
  justify-content: center;
}
